.CopyButtonContainer {
  button:before {
    content: 'Copied';
    font-size: 1rem; /* 12px / 12px */
    position: absolute;
    left: -4.4167rem; /* -53px / 12px */
    padding: 0.1667rem 0.5rem; /* 2px / 12px, 6px / 12px */
    height: 2.5rem; /* 30px / 12px */
  }
}
